*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: black;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 100vh;
    margin: 50px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.52);
    padding: 20px;
    border-radius: 10px;
}


.logo-container{
    flex: 0.5;
    /* border: 2px solid white; */
    width: 100%;
    display: flex;
    padding: 30px 0px 0px 50px;
    justify-content: flex-start;
    align-items: flex-start;
}
.logo{
    width: 50px;
    
}
.wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.wrapper h2{
    color: white;
}
.text-container{
    flex: 2;
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-left: 50px;
}

.footer-container{
    flex: 1;
    width: 100%;
    /* border: 2px solid greenyellow; */
}


.heading {
    font-size: 68px;
    text-transform: uppercase;
    color: white;
}

.text-content{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.568);
}
.content-p{
    margin: 20px 0;
    width: 65%;
}
.content-button{
    background-color: rgb(123, 123, 224);
    height: 50px;
    width: 150px;
    font-size: 16px;
    color: white;
    border-radius: 15px;
    border:none;
    background-image: linear-gradient(90deg, rgba(229,238,9,1) 0%, rgba(121,9,115,1) 56%, rgba(201,0,255,1) 100%);
    background-size: 100%;
}


.footer-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.cards{
    width:25%;
    height: 100%;
    /* border:5px solid red; */
    padding-left: 50px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.cards h1{
    font-size: 32px;
}

.gradient {
    background-color: #f3ec78;
    background-image: linear-gradient(90deg, rgba(229,238,9,1) 0%, rgba(121,9,115,1) 56%, rgba(201,0,255,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.content-right{
    width: 40%;
    height: 100%;
    /* background-color: rgba(255, 105, 180, 0.253); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.menubar{
    flex:1;
    width: 100%;
    /* border:5px solid rgb(114, 250, 243); */
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 30px 50px 0px 0px;
    list-style: none;
}
.menubar li{
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    padding: 0 10px 0 20px;
    border-right: 2px solid rgba(255, 255, 255, 0.431);
}
.menubar li:last-of-type{
    border-right: none;
}
.footer-right{
    flex:1;
    width: 100%;
    /* border:5px solid rgb(114, 250, 243); */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 60px 80px 0;
}


